---
layout: layouts/base.njk
section: work
---
<article>

  <header class="pb--4">

    <div>

      <h1>{{ title }}</h1>

    </div>

  </header>

  <section>
    You can view a current work profile over on Linkedin  <a href="https://www.linkedin.com/in/twigley/">here!</a>

    This is a bit more freeform and casual as it's my personal website and that's how things go :)<br>
    <br>
    I've been working in various sectors of tech since leaving university, all the way from 1st line support to my current role as a principle engineer.<br>
    I always believe that perfection is not only a valid aim but something we should strive for.<br>
    Automation isn't just nice to have it's critical to long term stability, security and key to providing fast and efficient workstreams.<br>
    Resilience, reliability and scalability should be at the forefront of any solution.<br>
<br><br><br>

This is just a brief overview of the bits of the industry I'm familiar with, non-exhaustive because there's very few areas I've not at least touched on:<br><br> 
<b><u>Languages</b></u><br>
- Bash, CSS, HTML, Javascript, Powershell, Python, Ruby, Terraform, Terragrunt, YAML<br>
<b><u>Tech</b></u><br>
- Airflow, Ansible, Apache, AppDynamics, Artifactory, AWS, Checkov, Chef, Consul, Docker, Elasticsearch, F5, GCP, Git, Github Actions, Gitlab CI, Gluster, Grafana, Graylog, Hadoop, Jenkins, Kafka, Kubernetes, Linux, Logstash, MongoDB, MySQL/Postgres, Nagios, New Relic, Nginx, Openstack, Packer, Prometheus, RabbitMQ, Rancher, Redis, Snyk, Squid, Traefik, Vault, Zabbix<br>
<b><u>Other Knowledge</b></u><br>
- BigData, Data ML, LLMs/AI, Data Loss Prevention, Networking, Sox, Kanban, Agile<br>


    {{ layoutContent | safe }}

  </section>

</article>

{# Gets appended to <head> during build #}
{# {% include "components/opengraph.njk" %} #}
